* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
    font-family: 'Sora', sans-serif !important;
}
body {
    background: url(./assets/fundo-site-1.png) no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.boxshadow .button {
    -webkit-box-shadow: 0px 0px 5px #666;
       -moz-box-shadow: 0px 0px 5px #666;
        -ms-box-shadow: 0px 0px 5px #666;
         -o-box-shadow: 0px 0px 5px #666;
            box-shadow: 0px 0px 5px #666;
    }
 .no-boxshadow .button {
    background: url(sombra.png) no-repeat;
    }
::-webkit-scrollbar{
        width: 5px;
        height: 8px;
        background-color: #aaa; /* or add it to the track */
}
    
::-webkit-scrollbar-thumb{
        background: #D55208;
}
.logo {
    display: flex;
    width: 100%;
    height: 11rem;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    box-shadow: 0px 2.5px 0px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.legenda {
    margin-top: 1.3rem;
    font-size: 1.6rem;
    padding: 0rem 2rem 0rem 2rem;
    width: 100%;
    height: auto;
    text-align: justify;
}
.size {
    font-size: 1.35rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}

.link1 {
    font-size: 0.65rem;
}
.link2 {
    font-size: 0.65rem;
}
.link3 {
    font-size: 0.65rem;
}

.link4 {
    font-size: 0.65rem;
}

.link5 {
    font-size: 0.65rem;
}

.link1 h1 {
    text-align: center;
}
.link2 h1 {
    text-align: center;
}
.link3 h1 {
    text-align: center;
}

.link4 h1 {
    text-align: center;
}

.link5 h1 {
    text-align: center;
}

#image-link img {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-size: cover;
    border-radius: 4px;
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    transition: opacity 0.8s ease;
}
#image-link img.hidden {
    opacity: 0; /* Define a opacidade 0 para esconder a imagem */
}

#image-link {
    filter: brightness(100%);
}

#image-link:hover {
    filter: brightness(85%);
}

.agendar {
    text-align: center;
}

#img2 {
    border-radius: 4px;
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-size: cover;
    filter: brightness(100%);
}

#img2:hover {
    filter: brightness(85%);
}

.link3 {
    display: flex;
    flex-direction: column; /* Dispor os elementos em coluna */
}

.image-container {
    margin-top: 1rem; /* Espaçamento entre o texto e a imagem */
}

#img3 {
    border-radius: 4px;
    width: 300px;
    height: 200px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    filter: brightness(100%);
}

.link3 h1 {
    max-width: 300px;
    margin-left: 10px;
}

#image-link4 img {
    border-radius: 4px;
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    transition: opacity 0.8s ease;
}
#image-link4 img.hidden {
    opacity: 0; /* Define a opacidade 0 para esconder a imagem */
}

#image-link4 {
    filter: brightness(100%);
}

#image-link4:hover {
    filter: brightness(85%);
}

#image-link5 img {
    border-radius: 4px;
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    transition: opacity 0.8s ease;
}
#image-link5 img.hidden {
    opacity: 0; /* Define a opacidade 0 para esconder a imagem */
}

#image-link5 {
    filter: brightness(100%);
}

#image-link5:hover {
    filter: brightness(85%);
}

.link3 h1 {
    white-space: pre-line;
}

.rodape {
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: #D45208;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    width: 100%; /* Ocupar toda a largura da página */
    position: fixed; /* Fixar na parte inferior */
    bottom: 0; /* Colocar no final da página */
}

@media (max-width: 1326px) {
    html {
        font-size: 80%;
    }
}
@media (max-width: 1024px) {
    .img1 {
        width: 250px;
        height: 170px;
    }
    .img2 {
        width: 250px;
        height: 170px;
    }
    .img3 {
        width: 250px;
        height: 170px;
    }
    .img1 span {
        line-height: 100px;
    }
    .img2 span {
        line-height: 100px;
    }
    .img3 span {
        line-height: 100px;
    }
}